a.hive{position:fixed;background:#FFF;border:1px solid #eee;border-radius:3px;color:#555;text-transform:uppercase;font-size:10px;letter-spacing:1px;font-weight:600;text-align:center;margin:20px;padding:7px 10px;}
a.hive:hover{color:#F7971E;}
button.sparguntur-ipsum.sedatus-est,button.sparguntur-ipsum:hover{background:#555;color:white;}
.reditus{position:fixed;background:#fafafa;bottom:10px;right:10px;text-align:center;color:#555;border:1px solid #eee;border-radius:3px;height:30px;width:30px;line-height:30px;z-index:999;}
.reditus:hover{position:fixed;bottom:10px;right:10px;text-align:center;color:#ffbd17;border-color:#ffbd17;border-radius:3px;height:30px;width:30px;line-height:30px;}
iframe.tmblr-iframe{display:none;}
html{font-size:14px;font-family:lato;}
body{color:#696969;text-align:justify;line-height:170%;}
::-webkit-scrollbar{height:0;width:5px;background:#fff;}
::-webkit-scrollbar-thumb:vertical{height:auto;width:4px;background:#ffde00;background:0;background:0;background:linear-gradient(135deg,#ffde000%,#ffa100100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffde00',endColorstr='#ffa100',GradientType=1);border-radius:50px;}
::-webkit-scrollbar:horizontal{display:none;}
div::-webkit-scrollbar{height:0;width:3px;background:#fff;}
div::-webkit-scrollbar-thumb:vertical{height:auto;width:2px;background:#ffde00;background:0;background:0;background:linear-gradient(135deg,#ffde000%,#ffa100100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffde00',endColorstr='#ffa100',GradientType=1);border-radius:50px;}
div::-webkit-scrollbar:horizontal{display:none;}
::selection{background:#ffbd17;color:#fff;}
::-webkit-selection{background:#ffbd17;color:#fff;}
::-moz-selection{background:#ffbd17;color:#fff;}
::-o-selection{background:#ffbd17;color:#fff;}
ul,ol{counter-reset:li 0;list-style:none;padding-left:10px;}
ul li,ol li{list-style:none;margin:5px 0;}
ul li:before,ol li:before{color:#ffbd17;margin-right:10px;vertical-align:middle;}
ul li:before{content:'\f111';font-family:fontawesome;font-size:4px;}
ol li:before{content:counter(li);counter-increment:li;}
a{color:#333;}
strong,b{color:#555;}
a:hover{color:white;}
.ipsum-arca a{color:#F7971E;font-size:inherit;position:relative;font-weight:700}
.ipsum-arca a:hover{color:#333}
.ipsum-arca .ipsum-pd .codex{background:#fafafa;border:1px solid #eee;border-radius:3px;padding:15px 15px 15px 25px;border-left:4px solid #eee;margin:10px 0;font-family:monospace;color:#333;}
.contentus{position:absolute;left:8vw;transform:translate(0%,-50%);top:50%;}
.caput img{width:60px;display:inline-block;float:left;margin-right:20px;}
.caput{
background: #f7971e;
background: -moz-linear-gradient(-45deg, #f7971e 0%, #ffd200 100%);
background: -webkit-linear-gradient(-45deg, #f7971e 0%,#ffd200 100%);
background: linear-gradient(135deg, #f7971e 0%,#ffd200 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7971e', endColorstr='#ffd200',GradientType=1 ); position:relative;text-align:center;height:200px;width:100vw;}
.primus{text-transform:uppercase;font-weight:900;font-size:2rem;color:#333;display:block;margin:6px 0;}
.secundus{text-transform:uppercase;font-weight:700;font-size:2rem;color:#FFF;display:block;}
.creditus{font-style:italic;color:#FFF;font-size:15px;position:absolute;width:80px;margin:60px 80px;}
.nomen{float:right;}
.font{margin:5vw 8vw;}
.ipsum-arca{background:#fafafa;overflow:hidden;margin-bottom:30px;}
.ipsum-arca:last-of-type{margin:0;}
.ipsum-titulus{background:#fafafa;border-bottom:5px solid white;text-transform:capitalize;font-size:1.2rem;padding:15px;color:#333;font-weight:700;}
.ipsum-pd{padding:15px;}
.icon{background:#fafafa;text-align:center;margin-bottom:20px;width:5vw;float:left;padding:15px;}
.th{font-size:25px;clear:both;padding:20px 0;}
.inf{clear:both;margin-top:-5px;border-top:1px solid #eee;font-family:monospace;padding:10px;}
span.icon-nomen{display:block;font-weight:600;}
span.icon-uni{font-size:11px;color:#aaa;font-family:monospace;}
span.icono{font-size:25px;clear:both;display:block;padding:20px 0;}
button.sparguntur-ipsum{transition:linear all .3s;border:0;background:white;color:#aaa;text-transform:capitalize;font-size:.83rem;font-weight:700;letter-spacing:.5px;text-decoration:none;margin:10px;padding:10px 15px;}
div#sparguntur{text-align:center;}
